.gallery-header {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
}

.gallery-header__btn-slideShow_start, .gallery-header__btn-slideShow_stop, .gallery-header__btn-logOut {
	background: no-repeat center;
	width: 55px;
	height: 35px;
	margin: 5px 2px 12px 10px;
	border: none;
	border-radius: 10px;
	background-color: #3F0F0F;
	box-shadow: 0px 4px 6px rgba(158, 12, 12, 0.4);
	cursor: pointer;
	transition-duration: 0.3s;
}

.gallery-header__btn-slideShow_start:hover, .gallery-header__btn-slideShow_stop:hover, .gallery-header__btn-logOut:hover {
background-color: #691212;
box-shadow: 0px 7px 10px rgba(107, 16, 16, 1);
}

.gallery-header__btn-slideShow_start:active, .gallery-header__btn-slideShow_stop:active, .gallery-header__btn-logOut:active {
background-color: #801919;
box-shadow: 0px 10px 15px rgba(255, 0, 0, 0.6);
}

.gallery-main {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.gallery-main__big-picture {
	max-width: 70%;
	max-height: 70%;
}

.gallery-main__big-picture_flipping_start {
	max-width: 100%;
	max-height: 100%;
}

.gallery-footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 10px 0px;
}

.gallery-footer__small-picture {
	width: 200px;
	height: 120px;
	margin: 10px 20px 10px 0px;
	opacity: 0.5;
	cursor: pointer;
}

.gallery-footer__small-picture:hover {
	transform: scale(1.5);
	opacity: 1;
}

@media (max-width: 1023.98px) {
	.gallery-footer__small-picture {
		opacity: 1;
		margin: 10px 20px 0px 0;
	}
	.gallery-footer__small-picture:hover {
		transform: none;
		opacity: 1;
	}
}

.hide {
	display: none;
}
