.gallery-header {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
}

.gallery__btn-slideShow_start, .gallery__btn-slideShow_stop, .gallery__btn-logOut {
	background: no-repeat center;
	width: 55px;
	height: 35px;
	margin: 5px 2px 12px 10px;
	border: none;
	border-radius: 10px;
	background-color: #3F0F0F;
	box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.gallery-main {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.gallery__big-picture {
	max-width: 70%;
	max-height: 70%;
}

.gallery__big-picture_after-start {
	max-width: 100%;
	max-height: 100%;
}

.gallery-footer__container-for-small-picture {
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 10px 0px 15px 0px;
}

.gallery__small-picture {
	width: 200px;
	height: 120px;
	padding: 10px 20px 10px 0px;
	opacity: 0.5;
	cursor: pointer;
}

.gallery__small-picture:hover {
  transform: scale(1.5);
  opacity: 1;
}

.hide {
	display: none;
}