@import 'authorization.css';
@import 'registration.css';
@import 'gallery.css';

body {
	background-color: #000;
}

.general__p_text-error {
	color: rgb(223, 29, 29);
	margin: 10px 0px 20px 0px;
}

.general-main-bloc__img-input-pass {
	position: relative;
}

.general-main-bloc__btn-eye {
	position: absolute;
	border: none;
	outline: none;
	height: 100%;
	width: 30px;
	padding: 0;
	right: 10px;
	cursor: pointer;
}
